.sidebar {
	font-family: Roboto, Arial;
	position: fixed;
	top: 56px;
	bottom: 0;
	left: 0;
	width: 72px;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	background-color: white;
	z-index: 200;
}

.sidebar-container {
	font-size: 10px;
	height: 74px;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar-icon {
	height: 24px;
	margin-bottom: 6px;
}

.sidebar-container div {
	font-size: 10px;
}

.sidebar-container:hover {
	background-color: rgb(232, 232, 232);
}